.helmet_wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 48px);
  flex-direction: column;
}

.helmet_wrapper__home {
  justify-content: flex-start;
}
